.fiveday-forecast {
  text-align: center;
  position: relative;
  display: block;
  margin: 0 auto;

  font-size: 20px;
  background-color: #f3edf0;
  padding-bottom: 10px;
  border-radius: 9px;
  box-shadow: 3px 3px 5px #c4c6d3;
  width: 490px;
}

.Forecast-max {
  padding: 5px;
}

.Forecast-min {
  opacity: 50%;
}
