#location-button {
  color: #464649;
  position: relative;
  opacity: 90%;
  border: 0px;
  border-radius: 50%;
  padding: 6px 12px 5px 10px;
  border: 1px solid #d2d3db;
}

.form-group {
  opacity: 90%;
  padding-right: 20px;
  padding-top: 10px;
}
